menu "Example Configuration"

    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    config LED_GPIO
        int "LED GPIO number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 15
        help
            GPIO number (IOxx) LED.

    config CONTACT_PIN_GPIO_1
        int "Contact number 1 for validate GPIO number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 21

    config CONTACT_PIN_GPIO_2
        int "Contact number 1 for validate GPIO number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 23

    config CHECK_PERIOD
        int "Check GPIO connect period in ms"
        range 10 3600000
        default 1000
        help
            Define the check period in milliseconds.

endmenu
